* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.react-multi-carousel-dot-list {
  padding-bottom: 1rem !important;
}

.customHeight {
  height: calc(100vh - 110px);
  overflow: hidden;
}
.customSignupHeight {
  min-height: calc(100vh - 110px);
}

/* hero */
.carousel-bg {
  background-image: url('https://th.bing.com/th/id/OIP.1d6tBbNiJTFQNEK_k0sSjQHaFj?rs=1&pid=ImgDetMain');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rounded-lg {
  border-radius: 0rem !important;
}