* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.react-multi-carousel-dot-list {
  padding-bottom: 1rem !important;
}

.customHeight {
  height: calc(100vh - 110px);
  overflow: hidden;
}