* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* * ::before, ::after {
  border: none !important;
} */
.react-multi-carousel-dot-list {
  padding-bottom: 1rem !important;
}

.customHeight {
  height: calc(100vh - 110px);
  overflow: hidden;
}
.customSignupHeight {
  min-height: calc(100vh - 110px);
}

/* hero */
.carousel-bg {
  /* background-image: url('https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rounded-lg {
  border-radius: 0rem !important;
}

/* dashboard */
/* .minCustomHeight {
  min-height: ;
} */